<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>民視新聞Podcast來了！</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="台灣最前線 台灣向前行 全國第一勇 決策者 民視英語新聞 民視新聞Podcast來了！｜民視新聞網">
    <meta property="og:title" content="民視新聞Podcast來了！｜民視新聞網" />
    <meta property="og:site_name" content="民視新聞Podcast來了！｜民視新聞網" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:url" content="https://www.ftvnews.com.tw/podcast/index.html" />
    <meta property="og:image" content="https://www.ftvnews.com.tw/podcast/resource/cover1.jpg" />
    <meta property="og:image:width" content="563" />
    <meta property="og:image:height" content="296" />
    <meta property="og:description" content="台灣最前線 台灣向前行 全國第一勇 決策者 民視英語新聞 民視新聞Podcast來了！｜民視新聞網" />
    <meta property="fb:app_id" content="157389381527660" />
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>民視新聞Podcast來了！｜民視新聞網</title>
    <link rel="icon" href="./assets//img/eye.png" />
    <link rel="canonical" href="https://www.ftvnews.com.tw/podcast/index.html" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!-- style -->
    <link rel="stylesheet" href="./assets/style1.css">
    <style>
        .fas {
            font-size: 18px;
            margin: auto;

        }

        .player {
            display: none;
        }

        .playeron {
            display: block;
        }


        .playbutton {
            display: block;
            justify-content: space-around;


        }

        .playbutton a {
            display: flex;
            border: 1px solid transparent;
            padding: .5rem;


        }

        .fa-2x {
            font-size: 20px !important;
        }

        .mobile {
            display: none;
        }

        @media screen and (max-width: 768px) {

            .mobile {
                display: flex;
            }

            .desktop {
                display: none;
            }


        }
    </style>

    <div id="app" v-cloak>
        <header>
            <img src="./assets/img/banner2.png" alt="民視新聞podcast" class="desktop">
            <img src="./assets/img/bannermobile.png" alt="民視新聞podcast" class="mobile">
            <h1>{{title}}</h1>
        </header>
        <main>

            <div class="program layout">
                <h2>新聞型節目</h2>
                <div class="ccc">
                    <section v-for="item of program" class="layout2">
                        <a :href="item.link" target="_blank">
                            <img :src="item.cover" alt="item.title">
                            <h2>{{item.title}}</h2>
                        </a>
                        <div class="playbutton">
                            <a :href="item.link" target="_blank">
                                <i class="fas  fa-2x fa-podcast"> 立即訂閱</i>
                            </a>
                            <a :href="item.homelink" id=podcast target="_blank">
                                <i class="fas fa-2x fa-circle-play"> 馬上收聽</i>
                            </a>
                        </div>
                    </section>

                    <h2>政論型節目</h2>
                    <section v-for="item of program2" class="layout2">
                        <a :href="item.link" target="_blank">
                            <img :src="item.cover" alt="item.title">
                            <h2>{{item.title}}</h2>
                        </a>
                        <div class="playbutton">
                            <a :href="item.link" target="_blank">
                                <i class="fas  fa-2x fa-podcast"> 立即訂閱</i>
                            </a>
                            <a :href="item.homelink" id=podcast target="_blank">
                                <i class="fas fa-2x fa-circle-play"> 馬上收聽</i>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer_logo">
                <a href="https://www.ftvnews.com.tw/" target="_blank"> <img src="./resource/eye.png" alt=""
                        style="width: 30px; margin: .5rem; padding: 1px;">Copyright ©
                    2023 民視新聞網</a>
            </div>
        </footer>


    </div>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        export default {
            data() {
                return {
                    scrollY: '',
                }
            },

            methods: {
                handleScroll() {

                    var btn = document.getElementById('btn');
                    btn.addEventListener('click', function (e) {
                        console.log(e);
                    }, false);
                },

            },
            created() {
                window.addEventListener('scroll', this.handleScroll)
                window.addEventListener('scroll', this.scroll)
            },
        }


    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101119806-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-101119806-1');
    </script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/745a06c6e1.js" crossorigin="anonymous"></script>
    <!-- script -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'
        integrity='sha512-YXLGLsQBiwHPHLCAA9npZWhADUsHECjkZ71D1uzT2Hpop82/eLnmFb6b0jo8pK4T0Au0g2FETrRJNblF/46ZzQ=='
        crossorigin='anonymous'></script>
    <script src="./assets/script3.js"></script>
    <script>

    </script>

</head>
</head>

<body>


</body>





</html>